.form_title-wrapper{
  font-size: 0;
  border-bottom: 2px solid gray;
}

.form_title{
  font-size: 16px;
  padding-right: 30px;
  display: inline-block;
}

.form_title-guest,
.main_form-guest{
  width: 85px;
}

.form_title-count,
.main_form-count,
.form_title-human,
.main_form-human,
.form_title-time,
.main_form-time{
  width: 90px;
}


.form_title-hookah,
.main_form-hookah{
  width: 275px;
}

.form_title-price{
  width: 230px;
}
